body {
  height: 100vh;

  #root {
    height: 100%;
  }

  .toolContainer {
    .ant-card-head {
      padding: 0px;
    }
    .ant-card-head,
    .ant-card-head-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-card-head-wrapper {
      height: 100%;
      width: 99%;
    }
    .ant-card-body {
      height: 100%;
      padding: 5px 5px 0px 5px;
    }

    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #9ff3f5;

    .titleInput {
      display: none;
      opacity: 0;
      text-align: center;
      width: 100%;
      height: 100%;
    }
    .titleHeading {
      text-align: center;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }

    .goal__headerBar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      height: 10vh;
      width: 100%;
      span {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
        text-align: center;
      }
      .goal__moreOptions{
        display: block;
        width: 10%;
        height: 100%;
      }
      .goal__moreOptionsIcon{
        display: table-cell;
        vertical-align: middle;
      }
      .titleHeading {
        flex-grow: 5;
        align-items: center;
        font-size: 3.5vh;
        display: flex;
        justify-content: center;
      }

      .progressIndicator {
        width: 100px;
        height: 10px;
        background-color: red;
      }
    }
    .goal__headerBar--isEditing {
      .titleInput {
        display: block!important;
        margin: 0 auto;
        width: 80%;
        opacity:100;
        font-size: 5vh !important;
        -webkit-transition: opacity 2s; /* Safari prior 6.1 */
        transition: opacity 9s;
      }
    }

    .cardBody {
      overflow-x: scroll;
      overflow-y: hidden;
      height: 100%;
      transform: rotateX(180deg);
      -ms-transform: rotateX(180deg); /* IE 9 */
      -webkit-transform: rotateX(180deg); /* Safari */
    }
    .taskArea {
      .ant-card-head {
        height: 10vh;
      }

      height: 100%;
      flex-grow: 6;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      transform: rotateX(180deg);
      -ms-transform: rotateX(180deg); /* IE 9 */
      -webkit-transform: rotateX(180deg);

      .taskItem {
        flex-grow: 1;
        min-width: 400px;
        height: 100%;
        margin: 2px;
        background-color: #fcfdb3;

        .taskItem__headerBar {
          display: flex;
          width: 100%;
          justify-content: center;

          .titleInput {
            height: 8vh;
            font-size: 3.5vh !important;
          }
          .titleHeading {
            font-size: 2.5vh;
          }
        } 
        .taskItem__headerBar--isEditing {
          span {
            height: 100%;
            width: 100%
          }
          .titleInput {
            display: block!important;
            height: 8vh;
            width: 100%;
            font-size: 3.5vh !important;
            opacity:100;
          }
        }

        .taskItem__body{
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          padding: 10px;
          .taskItem__body__content {
            flex-grow: 1;
            max-height: 80%;
            width: 100%;
          }
          .taskItem__body__footer {
          }
        }

        .todoList{
          .todoList__element{
            display: flex
          }
        }
      }
    }
  }
}

@media (max-width: 543px) {
  body {
  }
}

@media (min-width: 767px) {
}

body {
  .cointainer {
    padding: 10px;
    padding-top: 30px;
  }
  nav {
    .navbar-toggler {
      outline: none;
      border: none;
    }
  }
  .row {
    margin: 0px 0px;
  }
  button {
    cursor: pointer;
  }
}
